.btn {
  text-align: center;
  padding: 10px 15px;
  background-color: rgb(39, 39, 39);
  font-weight: bold;
  color: rgb(113, 170, 235);
  border-radius: 7px;
}
.btn:hover {
  background-color: rgba(41, 41, 41, 0.8);
}
.btn:active {
  transform: scale(0.97);
}
.btn:disabled {
  background-color: rgb(56, 56, 56);
  color: rgb(109, 125, 145);
}
