.posts__new {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0px 0px 20px 0px;
}
.posts__new button {
}
.posts__new textarea {
  width: 100%;
  height: 50px;
  border-radius: 14px;
  padding: 10px 10px;
  resize: none;
  margin: 0px 0px 15px 0px;
  /* background-color: rgb(41, 41, 41); */
  background-color: rgb(34, 34, 34);
  color: rgb(225, 227, 230);
}
/* scroll styles */
.posts__new textarea::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(34, 34, 34);
}

.posts__new textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(113, 170, 235, 0.6);
}

.posts__new textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
}
/* scroll styles */
.btn {
  text-align: center;
  padding: 10px 15px;
  background-color: rgb(39, 39, 39);
  font-weight: bold;
  color: rgb(113, 170, 235);
  border-radius: 7px;
}
.btn:hover {
  background-color: rgba(41, 41, 41, 0.8);
}
.btn:active {
  transform: scale(0.97);
}
.btn:disabled {
  background-color: rgb(56, 56, 56);
  color: rgb(109, 125, 145);
}
